#intro {
  text-align: center;
}

#game {
  text-align: center;
}

#cardImg {
  display: block;
  margin: 0 auto; /* 居中显示图片 */
  width: 300px;
  height: auto;
}
.clanBtn {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: transparent; /* 将背景颜色设置为透明 */
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  margin: 10px auto;
}

#restartBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
}

:root {
  --grayscale-intensity: 100%;
  --blur-intensity: 0px;
  --default-brightness: 100%;
  --default-contrast: 100%;
  --saturate-intensity: 100%;
}

#cardImg.combined {
  filter: grayscale(var(--grayscale-intensity)) blur(var(--blur-intensity)) brightness(var(--brightness-intensity)) contrast(var(--contrast-intensity)) saturate(var(--saturate-intensity));;
}
