body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

#result {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

summary {
  font-weight: bold;
  cursor: pointer;
}

details {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #0078d4;
}
