body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #eceff1;
    margin: 0;
    padding: 0;
}

.skill-effect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#kmr {
    width: 200px;
    height: auto;
}

.minions-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.minion {
    width: 120px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.minion:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.minion img {
    width: 50px;
    height: 60px;
}

.hidden {
    display: none;
}

#victory-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gold-effect, .hit-effect, .damage-effect, .word-effect, .heal-effect {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: gold-animation 1s forwards;
    pointer-events: none;
}

.gold-effect {
    background: transparent;
    color: orange;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    font-family: Arial, sans-serif;
}

.word-effect {
    background: transparent;
    color: green;
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
    font-family: Arial, sans-serif;
}

.hit-effect {
    background: red;
}

.damage-effect {
    background: transparent;
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.heal-effect {
    background: transparent;
    color: green;
    font-size: 16px;
    font-weight: bold;
}

@keyframes gold-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes hit-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.details-container {
    margin-top: 20px;
    width: 25%;
    max-height: 100vh;
    overflow-y: auto;
}

.stats-container {
    margin-top: 20px;
    width: 20%;
    max-height: 100vh;
    overflow-y: auto;
}

.game-container {
    margin: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 55%;
    max-height: 100vh;
    overflow-y: auto;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.kmr-container {
    position: sticky;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}

#kmr {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#kmr-health-container {
    width: 100%;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto 10px;
    height: 1px;
}

#kmr-health {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.8);
    color: #000;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    box-sizing: border-box;
}

#coins {
    font-weight: bold;
    font-size: 18px;
    color: #FFD700;
}

.minions-container {
    margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003f7f;
}

button:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
